body {
  background-color: #f6f8fb;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

input {
  outline: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.dr-managment-section .row .main {
  border-radius: 15px;
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  height: 100%;
}
.dr-managment-section .row .main .top {
  justify-content: space-between;
  padding: 10px 10px 20px;
}
.dr-managment-section .row .main .top .heading {
  font-weight: 700;
  font-size: 25px;
}
.dr-managment-section .row .main .top .search-btn {
  justify-content: space-between;
}
.dr-managment-section .row .main .top .search-btn .input {
  padding: 12px 15px;
  background-color: #f6f8fb;
  border: 1px solid #ced4da;
  border-radius: 30px;
  width: 350px;
  font-size: 20px;
}
.dr-managment-section .row .main .top .search-btn .input .search {
  font-size: 25px;
  color: #000;
}
.dr-managment-section .row .main .top .search-btn .input input {
  background-color: transparent;
  padding-left: 10px;
}
.dr-managment-section .row .main .top .search-btn .btn {
  background-color: #0EABEB;
  border-radius: 10px;
  padding: 12px 14px;
  margin-left: 10px;
}
.dr-managment-section .row .main .top .search-btn .btn .icon {
  background-color: white;
  color: #0EABEB;
  border-radius: 5px;
  padding: 2px;
  font-size: 20px;
  margin-right: 10px;
}
.dr-managment-section .row .main .top .search-btn .btn .text {
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.dr-managment-section .row .main .table {
  padding: 0px 10px;
  width: 100%;
}
.dr-managment-section .row .main .table table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: scroll;
  max-height: 500px;
}
.dr-managment-section .row .main .table table .table-heading {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f6f8fb;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.dr-managment-section .row .main .table table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid rgb(219, 219, 219);
  font-size: 20px;
  font-weight: 600;
}
.dr-managment-section .row .main .table table td img {
  margin-right: 10px;
  width: 50px;
}
.dr-managment-section .row .main .table table th {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 15px;
  text-align: left;
}
.dr-managment-section .row .main .table table tbody {
  display: block;
  height: 585px;
  overflow-y: auto;
}
.dr-managment-section .row .main .table table tbody tr {
  display: table;
  width: 100%;
}
.dr-managment-section .row .main .table table tbody::-webkit-scrollbar {
  width: 10px;
}
.dr-managment-section .row .main .table table tbody::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.dr-managment-section .row .main .table table tbody::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
.dr-managment-section .row .main .table table .gender {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f6f8fb;
  color: #718ebf;
  padding: 10px;
}
.dr-managment-section .row .main .table table .time h3 {
  background-color: #f6f8fb;
  color: #718ebf;
  border-radius: 50px;
  margin: 0px 10px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 150px;
}
.dr-managment-section .row .main .table table .action .edit,
.dr-managment-section .row .main .table table .action .view,
.dr-managment-section .row .main .table table .action .delete {
  background-color: #f6f8fb;
  color: #39973d;
  border-radius: 10px;
  padding: 16px;
  font-size: 25px;
  text-align: center;
}
.dr-managment-section .row .main .table table .action .view {
  color: #0eabeb;
  margin: 0px 10px;
}
.dr-managment-section .row .main .table table .action .delete {
  color: #e11d29;
}
.dr-managment-section .row .main .image {
  padding: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dr-managment-section .row .main .image h1 {
  text-align: center;
  color: #4F4F4F;
  font-size: 26px;
  font-weight: 500;
  padding-top: 15px;
}

.create-bill-section {
  padding: 20px;
}
.create-bill-section .row .main {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}
.create-bill-section .row .main .title p {
  color: #030229;
  font-size: 26px;
  font-weight: 700;
}
.create-bill-section .row .main .hospital-details {
  padding: 20px;
  border: 2px solid #F4F4F4;
  border-radius: 15px;
  margin: 15px 0px;
}
.create-bill-section .row .main .hospital-details .content .head {
  align-items: center;
  justify-content: space-between;
}
.create-bill-section .row .main .hospital-details .content .head p {
  font-size: 24px;
  font-weight: 700;
  color: #030229;
}
.create-bill-section .row .main .hospital-details .content .head button {
  padding: 12px 14px;
  background-color: #0EABEB;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.create-bill-section .row .main .hospital-details .content .head button svg {
  color: white;
  font-size: 24px;
}
.create-bill-section .row .main .hospital-details .content .head button span {
  display: inline-block;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.create-bill-section .row .main .hospital-details .content .details {
  justify-content: space-between;
  align-items: center;
}
.create-bill-section .row .main .hospital-details .content .details .left {
  width: 24%;
}
.create-bill-section .row .main .hospital-details .content .details .left .upload-logo {
  border: 2px dotted #D3D3D3;
  border-radius: 6px;
  padding: 20px;
}
.create-bill-section .row .main .hospital-details .content .details .left .upload-logo svg {
  width: 36px;
  height: 36px;
  color: #A7A7A7;
  margin: 0px auto;
}
.create-bill-section .row .main .hospital-details .content .details .left .upload-logo p {
  padding: 20px 0px 15px 0px;
  color: #4F4F4F;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.create-bill-section .row .main .hospital-details .content .details .left .upload-logo p span {
  color: #5678E9;
  font-size: 14px;
  font-weight: 700;
}
.create-bill-section .row .main .hospital-details .content .details .left .upload-logo h5 {
  color: #A7A7A7;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.create-bill-section .row .main .hospital-details .content .details .right {
  width: 74%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box {
  padding-top: 20px;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form {
  justify-content: start;
  row-gap: 10px;
  column-gap: 21px;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box {
  position: relative;
  padding: 15px 0px;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box .label {
  position: absolute;
  top: 4px;
  left: 14px;
  background-color: white;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box input {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box input:focus {
  border: 1px solid #718ebf;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box input::placeholder {
  color: #a7a7a7;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box .minus-circle {
  position: absolute;
  top: 6px;
  right: -8px;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box .minus-circle svg {
  font-size: 20px;
  color: #A7A7A7;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(1) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(1) input {
  width: 100%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(2) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(2) input {
  width: 100%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(3) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(3) input {
  width: 100%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(4) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(4) input {
  width: 100%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(5) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(5) input {
  width: 100%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(6) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(6) input {
  width: 100%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(7) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(7) input {
  width: 100%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(8) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(8) input {
  width: 100%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(9) {
  width: 32%;
}
.create-bill-section .row .main .hospital-details .content .details .right .form-box form .input-box:nth-child(9) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details {
  margin: 15px 0px;
  padding: 20px;
  border: 2px solid #F4F4F4;
  border-radius: 15px;
}
.create-bill-section .row .main .patient-details .content .head {
  align-items: center;
  justify-content: space-between;
}
.create-bill-section .row .main .patient-details .content .head p {
  font-size: 24px;
  font-weight: 700;
  color: #030229;
}
.create-bill-section .row .main .patient-details .content .head button {
  padding: 12px 14px;
  background-color: #0EABEB;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.create-bill-section .row .main .patient-details .content .head button svg {
  color: white;
  font-size: 2opx;
}
.create-bill-section .row .main .patient-details .content .head button span {
  display: inline-block;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.create-bill-section .row .main .patient-details .content .details .form-box {
  padding-top: 20px;
}
.create-bill-section .row .main .patient-details .content .details .form-box form {
  justify-content: space-between;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box {
  position: relative;
  padding: 15px 0px;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box .label {
  position: absolute;
  top: 4px;
  left: 14px;
  background-color: white;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box input {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box input:focus {
  border: 1px solid #718ebf;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box input::placeholder {
  color: #a7a7a7;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box .minus-circle {
  position: absolute;
  top: 6px;
  right: -8px;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box .minus-circle svg {
  font-size: 20px;
  color: #A7A7A7;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box select {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  background-color: white;
  color: #a7a7a7;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box select:focus {
  border: 1px solid #718ebf;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(1) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(1) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(2) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(2) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(3) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(3) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(4) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(4) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(5) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(5) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(6) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(6) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(7) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(7) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(8) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(8) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(9) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(9) select {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(10) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(10) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(11) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(11) select {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(12) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(12) input {
  width: 100%;
}
.create-bill-section .row .main .save-btn {
  justify-content: end;
}
.create-bill-section .row .main .save-btn button {
  background-color: #F6F8FB;
  padding: 12px 40px;
  color: #4F4F4F;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.create-bill-section .row .main .save-btn button:hover {
  background-color: #0EABEB;
  color: white;
}/*# sourceMappingURL=doctorManagement.css.map */