.create-bill-section {
  padding: 20px;
}
.create-bill-section .row .main {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}
.create-bill-section .row .main .title p {
  color: #030229;
  font-size: 26px;
  font-weight: 700;
}
.create-bill-section .row .main .patient-details {
  margin: 15px 0px;
  padding: 20px;
  border: 2px solid #F4F4F4;
  border-radius: 15px;
}
.create-bill-section .row .main .patient-details .content .details .form-box form {
  justify-content: space-between;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box {
  position: relative;
  padding: 15px 0px;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box .label {
  position: absolute;
  top: 4px;
  left: 14px;
  background-color: white;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box input {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box input:focus {
  border: 1px solid #718ebf;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box input::-moz-placeholder {
  color: #a7a7a7;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box input::placeholder {
  color: #a7a7a7;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box .minus-circle {
  position: absolute;
  top: 6px;
  right: -8px;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box .minus-circle svg {
  font-size: 20px;
  color: #A7A7A7;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box select {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  background-color: white;
  color: #a7a7a7;
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box select:focus {
  border: 1px solid #718ebf;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(1) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(1) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(2) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(2) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(3) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(3) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(4) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(4) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(5) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(5) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(6) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(6) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(7) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(7) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(8) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(8) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(9) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(9) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(10) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(10) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(11) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(11) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(12) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(12) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(13) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(13) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(14) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(14) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(15) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(15) input {
  width: 100%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(16) {
  width: 24%;
}
.create-bill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(16) input {
  width: 100%;
}
.create-bill-section .row .main .insurance-details {
  margin: 15px 0px;
  padding: 20px;
  border: 2px solid #F4F4F4;
  border-radius: 15px;
}
.create-bill-section .row .main .insurance-details .content .head p {
  font-size: 24px;
  font-weight: 700;
  color: #030229;
}
.create-bill-section .row .main .insurance-details .content .details .form-box {
  width: 100%;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form {
  justify-content: space-between;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box {
  position: relative;
  padding: 15px 0px;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box .label {
  position: absolute;
  top: 4px;
  left: 14px;
  background-color: white;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box input {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box input:focus {
  border: 1px solid #718ebf;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box input::-moz-placeholder {
  color: #a7a7a7;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box input::placeholder {
  color: #a7a7a7;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box .minus-circle {
  position: absolute;
  top: 6px;
  right: -8px;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box .minus-circle svg {
  font-size: 20px;
  color: #A7A7A7;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box select {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  background-color: white;
  color: #a7a7a7;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box select:focus {
  border: 1px solid #718ebf;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(1) {
  width: 24%;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(1) input {
  width: 100%;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(2) {
  width: 24%;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(2) input {
  width: 100%;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(3) {
  width: 24%;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(3) input {
  width: 100%;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(4) {
  width: 24%;
}
.create-bill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(4) input {
  width: 100%;
}
.create-bill-section .row .main .save-btn {
  justify-content: end;
}
.create-bill-section .row .main .save-btn button {
  background-color: #F6F8FB;
  padding: 12px 40px;
  color: #4F4F4F;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.create-bill-section .row .main .save-btn button:hover {
  background-color: #0EABEB;
  color: white;
}

.editBill-section {
  padding: 20px;
}
.editBill-section .row .main {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}
.editBill-section .row .main .title p {
  color: #030229;
  font-size: 26px;
  font-weight: 700;
}
.editBill-section .row .main .patient-details {
  margin: 15px 0px;
  padding: 20px;
  border: 2px solid #F4F4F4;
  border-radius: 15px;
}
.editBill-section .row .main .patient-details .content .details .form-box form {
  justify-content: space-between;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box {
  position: relative;
  padding: 15px 0px;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box .label {
  position: absolute;
  top: 4px;
  left: 14px;
  background-color: white;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box input {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box input:focus {
  border: 1px solid #718ebf;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box input::-moz-placeholder {
  color: #a7a7a7;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box input::placeholder {
  color: #a7a7a7;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box .minus-circle {
  position: absolute;
  top: 6px;
  right: -8px;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box .minus-circle svg {
  font-size: 20px;
  color: #A7A7A7;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box select {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  background-color: white;
  color: #a7a7a7;
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box select:focus {
  border: 1px solid #718ebf;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(1) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(1) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(2) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(2) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(3) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(3) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(4) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(4) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(5) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(5) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(6) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(6) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(7) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(7) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(8) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(8) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(9) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(9) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(10) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(10) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(11) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(11) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(12) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(12) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(13) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(13) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(14) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(14) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(15) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(15) input {
  width: 100%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(16) {
  width: 24%;
}
.editBill-section .row .main .patient-details .content .details .form-box form .input-box:nth-child(16) input {
  width: 100%;
}
.editBill-section .row .main .insurance-details {
  margin: 15px 0px;
  padding: 20px;
  border: 2px solid #F4F4F4;
  border-radius: 15px;
}
.editBill-section .row .main .insurance-details .content .head p {
  font-size: 24px;
  font-weight: 700;
  color: #030229;
}
.editBill-section .row .main .insurance-details .content .details .form-box {
  width: 100%;
}
.editBill-section .row .main .insurance-details .content .details .form-box form {
  justify-content: space-between;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box {
  position: relative;
  padding: 15px 0px;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box .label {
  position: absolute;
  top: 4px;
  left: 14px;
  background-color: white;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box input {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box input:focus {
  border: 1px solid #718ebf;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box input::-moz-placeholder {
  color: #a7a7a7;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box input::placeholder {
  color: #a7a7a7;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box .minus-circle {
  position: absolute;
  top: 6px;
  right: -8px;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box .minus-circle svg {
  font-size: 20px;
  color: #A7A7A7;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box select {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  background-color: white;
  color: #a7a7a7;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box select:focus {
  border: 1px solid #718ebf;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(1) {
  width: 24%;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(1) input {
  width: 100%;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(2) {
  width: 24%;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(2) input {
  width: 100%;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(3) {
  width: 24%;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(3) input {
  width: 100%;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(4) {
  width: 24%;
}
.editBill-section .row .main .insurance-details .content .details .form-box form .input-box:nth-child(4) input {
  width: 100%;
}
.editBill-section .row .main .save-btn {
  justify-content: end;
}
.editBill-section .row .main .save-btn button {
  background-color: #F6F8FB;
  padding: 12px 40px;
  color: #4F4F4F;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.editBill-section .row .main .save-btn button:hover {
  background-color: #0EABEB;
  color: white;
}/*# sourceMappingURL=invoice.css.map */