* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

input {
  outline: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  width: 83%;
  margin-left: 17%;
}

// registration section start

.registration-section {
  .row {
    .main {
      .form {
        padding: 120px;
        width: 50%;

        .content {
          padding: 60px 60px;
          border: 1px solid #F4F4F4;
          border-radius: 15px;

          .head {
            padding-bottom: 15px;

            p {
              font-size: 34px;
              font-weight: 600;
            }
          }

          .form-box {

            form {
              justify-content: space-between;

              .input-box {
                position: relative;
                padding: 15px 0px;

                .label {
                  position: absolute;
                  top: 4px;
                  left: 14px;
                  background-color: white;
                }

                input {
                  padding: 12px 14px;
                  border: 1px solid #D9D9D9;
                  border-radius: 10px;

                  &:focus {
                    border: 1px solid #718EBF
                  }

                  &::placeholder {
                    color: #A7A7A7;
                  }
                }

                .eye {
                  position: absolute;
                  top: 27px;
                  right: 15px;

                  img {}
                }

                select {
                  padding: 12px 14px;
                  border: 1px solid #D9D9D9;
                  border-radius: 10px;
                  outline: none;
                  background-color: white;
                  color: #A7A7A7;

                  &:focus {
                    border: 1px solid #718EBF
                  }

                  option {
                    button {
                      width: 100%;
                      padding: 12px 14px;
                      background-color: #0EABEB;
                      text-align: center;
                    }
                  }
                }

                &:nth-child(1) {
                  width: 48%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(2) {
                  width: 48%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(3) {
                  width: 48%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(4) {
                  width: 48%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(5) {
                  width: 30%;

                  select {
                    width: 100%;
                  }
                }

                &:nth-child(6) {
                  width: 30%;

                  select {
                    width: 100%;
                  }
                }

                &:nth-child(7) {
                  width: 30%;

                  select {
                    width: 100%;
                  }
                }

                &:nth-child(8) {
                  width: 100%;

                  select {
                    width: 100%;
                  }
                }

                &:nth-child(9) {
                  width: 100%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(10) {
                  width: 100%;

                  input {
                    width: 100%;
                  }
                }
              }

              .condition {
                width: 100%;
                padding-top: 20px;

                .policies {
                  input {
                    width: 20px;
                  }

                  p {
                    display: inline-block;
                    padding-left: 10px;
                  }

                  span {
                    color: #5678E9;
                  }
                }

                .register-btn {
                  padding: 15px 0px;

                  button {
                    width: 100%;
                    background-color: #F6F8FB;
                    color: #4F4F4F;
                    padding: 12px 14px;
                    border-radius: 10px;
                    font-size: 20px;


                    &:hover {
                      background-color: #0EABEB;
                      color: white;
                    }
                  }
                }

                .login-btn {
                  p {
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.2px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

      .img-box {
        width: 50%;
      }
    }
  }
}

// registration section end

// create-hospital section start 

.hospital-section {
  .row {
    .main {
      .form {
        padding: 120px;
        width: 50%;

        .content {
          padding: 60px 60px;
          background-color: white;
          border-radius: 15px;

          .head {
            padding-bottom: 15px;

            p {
              font-size: 34px;
              font-weight: 600;
            }
          }

          .form-box {

            form {
              justify-content: space-between;

              .input-box {
                position: relative;
                padding: 15px 0px;

                .label {
                  position: absolute;
                  top: 4px;
                  left: 14px;
                  background-color: white;
                }

                input {
                  padding: 12px 14px;
                  border: 1px solid #D9D9D9;
                  border-radius: 10px;

                  &:focus {
                    border: 1px solid #718EBF
                  }

                  &::placeholder {
                    color: #A7A7A7;
                  }
                }

                select {
                  width: 100%;
                  padding: 12px 14px;
                  border: 1px solid #D9D9D9;
                  border-radius: 10px;
                  outline: none;
                  background-color: white;
                  color: #A7A7A7;

                  &:focus {
                    border: 1px solid #718EBF
                  }

                  option {
                    button {
                      width: 100%;
                      padding: 12px 14px;
                      background-color: #0EABEB;
                      text-align: center;
                    }
                  }
                }

                &:nth-child(1) {
                  width: 100%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(2) {
                  width: 100%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(3) {
                  width: 48%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(4) {
                  width: 48%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(5) {
                  width: 48%;

                  select {
                    width: 100%;
                  }
                }

                &:nth-child(6) {
                  width: 48%;

                  select {
                    width: 100%;
                  }
                }
              }

              .btn {
                width: 100%;
                padding-top: 20px;
                justify-content: space-between;

                .cancel-btn {
                  width: 48%;

                  button {
                    text-align: center;
                    width: 100%;
                    border: 1px solid #D3D3D3;
                    padding: 12px 14px;
                    border-radius: 10px;
                    font-size: 20px;
                  }
                }

                .save-btn {
                  width: 48%;

                  button {
                    text-align: center;
                    width: 100%;
                    padding: 12px 14px;
                    border-radius: 10px;
                    background-color: #F6F8FB;
                    font-size: 20px;

                    &:hover {
                      background-color: #0EABEB;
                      color: white;
                    }
                  }
                }
              }
            }
          }
        }

        .img-box {
          width: 50%;
        }
      }
    }
  }
}

// create-hospital section end

// login section start 

.login-section {
  .row {
    .main {
      .form {
        padding: 120px;
        width: 50%;

        .content {
          padding: 60px 60px;
          border: 1px solid #F4F4F4;
          border-radius: 15px;

          .head {
            padding-bottom: 15px;

            p {
              font-size: 34px;
              font-weight: 600;
            }
          }

          .form-box {

            form {
              justify-content: space-between;

              .input-box {
                position: relative;
                padding: 15px 0px;

                .label {
                  position: absolute;
                  top: 4px;
                  left: 14px;
                  background-color: white;
                }

                input {
                  padding: 12px 14px;
                  border: 1px solid #D9D9D9;
                  border-radius: 10px;

                  &:focus {
                    border: 1px solid #718EBF
                  }

                  &::placeholder {
                    color: #A7A7A7;
                  }
                }

                .eye {
                  position: absolute;
                  top: 27px;
                  right: 15px;

                  img {}
                }

                select {
                  padding: 12px 14px;
                  border: 1px solid #D9D9D9;
                  border-radius: 10px;
                  outline: none;
                  background-color: white;
                  color: #A7A7A7;

                  &:focus {
                    border: 1px solid #718EBF
                  }

                  option {
                    button {
                      width: 100%;
                      padding: 12px 14px;
                      background-color: #0EABEB;
                      text-align: center;
                    }
                  }
                }

                &:nth-child(1) {
                  width: 100%;

                  input {
                    width: 100%;
                  }
                }

                &:nth-child(2) {
                  width: 100%;

                  input {
                    width: 100%;
                  }
                }
              }

              .condition {
                width: 100%;
                padding-top: 20px;

                .remember-forgot {
                  justify-content: space-between;
                  align-items: center;

                  .remember {
                    input {}

                    p {
                      padding-left: 15px;
                    }
                  }

                  .forgot {
                    span {}
                  }
                }

                .login-btn {
                  padding: 15px 0px;

                  button {
                    width: 100%;
                    background-color: #F6F8FB;
                    color: #4F4F4F;
                    padding: 12px 14px;
                    border-radius: 10px;
                    font-size: 20px;


                    &:hover {
                      background-color: #0EABEB;
                      color: white;
                    }
                  }
                }

                .registration-btn {
                  p {
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.2px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

      .img-box {
        width: 50%;
      }
    }
  }
}

// login section end