/* style.css */
.overflow-y-auto::-webkit-scrollbar {
    width: 4px;
   
    background: #F4F4F4;

}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #030229;
   
    border-radius: 10px;
}

