* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input {
  outline: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  .breadcrumbs {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #d9d9d9;
    padding: 18px 25px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    color: #2bb5ed;
    background-color: #f8fcfe;

    img {
      padding-right: 10px;
    }

    .icon {
      padding-right: 10px;
      font-size: 30px;
      color: #ababab;
    }
  }

  .user-search {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    padding: 0 10px;

    .search-filter {
      align-items: center;
      margin-left: auto;
      font-size: 0.9em;
      color: #777;
      padding-right: 10px;
      border-left: 1px solid #ababab;
      padding-left: 10px;

      .filter-text {
        margin-right: 10px;
        font-size: 18px;
      }
    }

    .notifiction {
      width: 60px;
      height: 60px;
      font-size: 30px;
      border-radius: 60%;
      color: #4f4f4f;
      background-color: #f6f8fb;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .user {
      margin-left: 20px;
      display: flex;
      align-items: center;

      img {
        width: 60px;
        height: 60px;
        border-radius: 60%;
        margin-right: 10px;
      }

      p {
        display: block !important;
        font-size: 20px;
        padding-bottom: 5px;
        font-weight: 700;
      }
    }
  }
}
