.doctorAdd-section,
.doctorEdit-section {
  padding: 20px;
}
.doctorAdd-section .row .main .top,
.doctorEdit-section .row .main .top {
  padding: 20px 20px;
  border: 2px solid #F4F4F4;
  border-radius: 15px;
  margin: 15px 0px;
}
.doctorAdd-section .row .main .bottom,
.doctorEdit-section .row .main .bottom {
  padding: 20px 20px;
  border: 2px solid #F4F4F4;
  border-radius: 15px;
  margin: 15px 0px;
}
.doctorAdd-section .row .main .bottom .content .head,
.doctorEdit-section .row .main .bottom .content .head {
  align-items: center;
  justify-content: space-between;
}
.doctorAdd-section .row .main .bottom .content .head p,
.doctorEdit-section .row .main .bottom .content .head p {
  font-size: 24px;
  font-weight: 700;
  color: #030229;
}
.doctorAdd-section .row .main .bottom .content .head button,
.doctorEdit-section .row .main .bottom .content .head button {
  padding: 12px 14px;
  background-color: #0EABEB;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.doctorAdd-section .row .main .bottom .content .head button svg,
.doctorEdit-section .row .main .bottom .content .head button svg {
  color: white;
  font-size: 20px;
}
.doctorAdd-section .row .main .bottom .content .head button span,
.doctorEdit-section .row .main .bottom .content .head button span {
  display: inline-block;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.doctorAdd-section .row .main .bottom .content .details .form-box,
.doctorEdit-section .row .main .bottom .content .details .form-box {
  width: 100%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form,
.doctorEdit-section .row .main .bottom .content .details .form-box form {
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box {
  position: relative;
  padding: 15px 0px 0px;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box .label,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box .label {
  position: absolute;
  top: 4px;
  left: 14px;
  background-color: white;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box input,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box input {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box input:focus,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box input:focus {
  border: 1px solid #718ebf;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box input::-moz-placeholder, .doctorEdit-section .row .main .bottom .content .details .form-box form .input-box input::-moz-placeholder {
  color: #a7a7a7;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box input::placeholder,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box input::placeholder {
  color: #a7a7a7;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box .link-icon,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box .link-icon {
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: #4F4F4F;
  border-radius: 10px;
  padding: 3px;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box .link-icon svg,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box .link-icon svg {
  color: white;
  font-size: 24px;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box .minus-circle,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box .minus-circle {
  position: absolute;
  top: 6px;
  right: -8px;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box .minus-circle svg,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box .minus-circle svg {
  font-size: 20px;
  color: #A7A7A7;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box select,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box select {
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  background-color: white;
  color: #a7a7a7;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box select:focus,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box select:focus {
  border: 1px solid #718ebf;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(1),
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(1) {
  width: 32%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(1) input,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(1) input {
  width: 100%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(2),
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(2) {
  width: 32%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(2) input,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(2) input {
  width: 100%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(3),
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(3) {
  width: 32%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(3) select,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(3) select {
  width: 100%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(4),
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(4) {
  width: 32%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(4) input,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(4) input {
  width: 100%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(5),
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(5) {
  width: 32%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(5) input,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(5) input {
  width: 100%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(6),
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(6) {
  width: 32%;
}
.doctorAdd-section .row .main .bottom .content .details .form-box form .input-box:nth-child(6) input,
.doctorEdit-section .row .main .bottom .content .details .form-box form .input-box:nth-child(6) input {
  width: 100%;
}
.doctorAdd-section .row .main .save-btn,
.doctorEdit-section .row .main .save-btn {
  justify-content: end;
}
.doctorAdd-section .row .main .save-btn button,
.doctorEdit-section .row .main .save-btn button {
  background-color: #F6F8FB;
  padding: 10px 40px;
  color: #4F4F4F;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.doctorAdd-section .row .main .save-btn button:hover,
.doctorEdit-section .row .main .save-btn button:hover {
  background-color: #0EABEB;
  color: white;
}

.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(3) {
  width: 32%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(3) input {
  width: 100%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(5) {
  width: 32%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(5) input {
  width: 100%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(6) {
  width: 32%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(6) input {
  width: 100%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(7) {
  width: 32%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(7) input {
  width: 100%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(8) {
  width: 32%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(8) input {
  width: 100%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(11) {
  width: 32%;
}
.doctorEdit-section .top .content .details .right .form-box form .input-box:nth-child(11) input {
  width: 100%;
}
.doctorEdit-section .bottom .content .details .form-box form .input-box:nth-child(2) select {
  width: 100%;
}
.doctorEdit-section .bottom .content .details .form-box form .input-box:nth-child(3) input {
  width: 100%;
}/*# sourceMappingURL=doctorManagement.css.map */