body {
  background-color: #f6f8fb;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

input {
  outline: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.patient-section .row .main {
  border-radius: 15px;
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  height: 100%;
}
.patient-section .row .main .top-menu {
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 20px 10px 0;
}
.patient-section .row .main .top-menu button {
  background: none;
  border: none;
  margin-right: 25px;
  font-size: 20px;
  color: #667080;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 20px;
}
.patient-section .row .main .top-menu button:focus {
  border-bottom: 5px solid #0eabeb;
  color: #0eabeb;
}
.patient-section .row .main .top {
  justify-content: space-between;
  padding: 10px 10px 20px;
}
.patient-section .row .main .top .heading {
  font-weight: 700;
  font-size: 25px;
}
.patient-section .row .main .top .search-btn {
  justify-content: space-between;
}
.patient-section .row .main .top .search-btn .input {
  padding: 12px 15px;
  background-color: #f6f8fb;
  border: 1px solid #ced4da;
  border-radius: 30px;
  width: 350px;
  font-size: 20px;
}
.patient-section .row .main .top .search-btn .input .search {
  font-size: 25px;
  color: #000;
}
.patient-section .row .main .top .search-btn .input input {
  background-color: transparent;
  padding-left: 10px;
}
.patient-section .row .main table {
  border-collapse: collapse;
  width: 100%;
}
.patient-section .row .main td {
  padding: 20px 5px !important;
  color: #4f4f4f;
  font-size: 18px;
  font-weight: 600;
}
.patient-section .row .main td img {
  margin-right: 10px;
  width: 50px;
}
.patient-section .row .main td .gender {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f6f8fb;
  color: #718ebf;
  padding: 10px;
  margin: auto;
}
.patient-section .row .main .time h3 {
  background-color: #f6f8fb;
  color: #718ebf;
  border-radius: 50px;
  margin: 0px 10px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 150px;
}
.patient-section .row .main .action .view {
  width: 60px;
  color: #0eabeb;
  margin: 0px 10px;
  background-color: #f6f8fb;
  border-radius: 10px;
  padding: 16px;
  font-size: 25px;
  display: flex;
  margin: auto;
}
.patient-section .row .main td,
.patient-section .row .main th {
  padding: 5px;
  min-width: 234px;
  text-align: center;
}
.patient-section .row .main tr:nth-child(1) {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.patient-section .row .main thead tr {
  background: #f6f8fb;
  color: #030229;
  display: block;
  position: relative;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}
.patient-section .row .main tbody {
  display: block;
  height: 620px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.patient-section .row .main tbody tr {
  border-bottom: 1px solid rgb(245, 245, 245);
}
.patient-section .row .main tbody::-webkit-scrollbar {
  width: 10px;
}
.patient-section .row .main tbody::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.patient-section .row .main tbody::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}/*# sourceMappingURL=patientManagement.css.map */